@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

a {
    all: unset;
}

.btn {
    all: unset;
    outline: revert;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
}

.header-top-left {
    display: flex;
    align-items: center;
}

.black-heart {
    width: 20px;
    margin-right: 1rem;
}

.header-top-left p {
    margin-left: 10px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

nav ul li {
    margin: 0 5px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

.header-bottom img {
    height: 25px;
    width: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-inline: 20px;
    position: relative;
    
}

.search-bar input {
    flex-grow: 2;
    padding: 12.5px 10px 12.5px 40px;
    font-size: 1rem;
    background-color: rgba(0,0,0,.05);
    border: none;
    background-image: url('/images/magnifying-glass.png');
    background-size: 20px 20px;
    background-position: 10px center;
    background-repeat: no-repeat;
}

.search-button {
    padding: 10px 15px;
    background-color: #fb3e44;
    color: white;
    border: none;
}

.login-button{
    padding: 5px 20px;
    border: 1px solid lightgray;
}

.join-button {
    padding: 5px 20px;
    border: 1px lightgray solid;
    border-right: none;
    margin-right: -2px;
}

.login-buttons {
    display: flex;
}

.plans-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 20px;
    background-color: rgba(232,217,217,.3);
    align-items: center;
    margin-top: 20px;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

.lg-article {
    font-size: 1rem;
    width: 400px;
    line-height: 1.6;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    gap: 40px;
}

.sm-article {
    font-size: 0.775rem;
    width: 600px;
    line-height: 1.4;
}

.about-section img{
    height: 250px;
    width: 250px;
}

.about-section h2 {
    font-size: 2rem;
    background-color: #fce2c2;
    padding-inline: 20px;
}

.plans-btn{
    padding: 10px 40px;
    color: white;
    background-color: #FB3B49;
    border: none;
    cursor: pointer;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.join-btn {
    padding: 10px 40px;
    border: none;
}

.plans-buttons {
    margin-block: 40px;
    padding: 20px 40px;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.org-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}

.org-section-cards {
    display: flex;
    justify-content: space-between;
    padding-inline: 40px;
    gap: 20px;
}

.org-section-cards div {
    flex: 1;
    width: 250px;
    text-align: left;
}

.org-section-cards p {
    font-size: 0.8rem;
    line-height: 1.8;
}

.org-section-cards h3 {
    color: #FB3B49;
    font-size: 1.175rem;
}

.org-section-cards img {
    width: 40px;
    height: 20px;
}

.org-button {
    width: 400px;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
}
