body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

a {
    all: unset;
}

.btn {
    all: unset;
    outline: revert;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header-top-left {
    display: flex;
    align-items: center;
}

.header-top-left img{
    width: 20px;
    height: 10px;
}

.header-top-left p {
    margin-left: 10px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

nav ul li {
    margin: 0 10px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header-bottom img {
    height: 20px;
    width: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: none;
}

.search-bar::before{
    background-image: url(/images/magnifying-glass.png);
    width: 10px;
    height: 10px;
    padding-right: 10px;
}

.search-bar input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.search-button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
}

.login-button{
    padding: 10px 0;
    border-left: 1px solid gray;
}

.login-buttons {
    margin-left: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
}

.plans-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
}

.about-section img{
    height: 250px;
    width: 250px;
}

.plans-btn{
    padding: 5px 10px;
    color: white;
    background-color: red;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 0px 0px rgba(255,0,0,0.3);
}

.plans-buttons {
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.org-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.org-section-cards {
    display: flex;
    justify-content: start;
    margin: 30px 0;
}

.org-section-cards img {
    width: 40px;
    height: 20px;
}

.org-button {
    width: 200px;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
}
