@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

a {
    all: unset;
}

.btn {
    all: unset;
    outline: revert;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
}

.header-top-left {
    display: flex;
    align-items: center;
}

.black-heart {
    width: 20px;
    margin-right: 1rem;
}

.header-top-left p {
    margin-left: 10px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

nav ul li {
    margin: 0 5px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    gap: 10px;
}

.header-bottom img {
    height: 25px;
    width: 50px;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-inline: 20px;
    position: relative;
    
}

.search-bar input {
    flex-grow: 2;
    padding: 10px 10px 10px 40px;
    font-size: 1rem;
    background-color: rgba(0,0,0,.05);
    border: none;
}

.search-bar input::before {
    content: url('/images/magnifying-glass.png');
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.search-button {
    padding: 10px 15px;
    background-color: #fb3e44;
    color: white;
    border: none;
}

.login-button{
    padding: 5px 20px;
    border: 1px solid lightgray;
}

.join-button {
    padding: 5px 20px;
    border: 1px lightgray solid;
    border-right: none;
    margin-right: -2px;
}

.login-buttons {
    display: flex;
    padding: 10px 20px;
}

.plans-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(232,217,217,.3);
    align-items: center;
}

.about-section img{
    height: 250px;
    width: 250px;
}

.plans-btn{
    padding: 5px 10px;
    color: white;
    background-color: #FB3B49;
    border: none;
    cursor: pointer;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.plans-buttons {
    padding: 20px 80px;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    text-align: center;
}

.org-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.org-section-cards {
    display: flex;
    justify-content: start;
    margin: 30px 0;
}

.org-section-cards img {
    width: 40px;
    height: 20px;
}

.org-button {
    width: 400px;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
}
